<article class="doc">
{{#unless (or (ne page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
{{#with (latest-page-url)}}
<div class="article-banner">
{{#if (and @root.page.componentVersion.prerelease (not @root.page.latest.prerelease))}}
<p>  You are viewing the documentation for a prerelease version.</p>
{{else}}
<p> A newer version of this documentation is available.</p>
{{/if}}
<a class="btn" href="{{relativize this}}">View Latest</a>
</div>
{{else if (and page.componentVersion.prerelease (not page.latest.prerelease))}}
<div class="article-banner">
<p>You are viewing the documentation for a prerelease version.</p>
</div>
{{/with}}
{{/unless}}
{{#with page.title}}
{{!-- <h1 class="page">{{{badge page.title}}}</h1> --}}
<h1 class="page">{{{badge this}}}</h1>
{{/with}}
{{{badge page.contents}}}
{{!-- {{{page.contents}}} --}}
{{> pagination}}
</article>
