<nav class="breadcrumbs" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
  <ul>
    {{#with page.componentVersion}}
    {{#if (and ./title (ne ./title @root.page.breadcrumbs.0.content))}}
    {{!-- <li><a href="{{{badge relativize ./url}}}">{{{badge ./title}}}</a></li> --}}
    <li><a href="{{{relativize ./url}}}">{{{badge ./title}}}</a></li>
    {{/if}}
    {{/with}}
    {{#each page.breadcrumbs}}
    <li>
    {{~#if (and ./url (eq ./urlType 'internal'))~}}
    {{!-- <a href="{{{badge relativize ./url}}}">{{{badge ./content}}}</a> --}}
    <a href="{{{relativize ./url}}}">{{{badge ./content}}}</a>
    {{~else~}}
    {{{badge ./content}}}
    {{~/if~}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</nav>
