<footer class="footer hide-for-print">
  {{!-- <p>This page was built using the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p> --}}
  <div class="container">
    <div class="footer-links">
      <div class="col">
        <div class="footer-logo">
          <a href="https://www.pointsharp.com" class="icon">
            <img src="{{uiRootPath}}/img/header-logo.svg" alt="Pointsharp">
          </a>
        </div>
      </div>
      <div class="col">
        <ul>
          <li><span class="heading">Our Company</span></li>
          <li><a href="https://www.pointsharp.com/index.php/about">About</a></li>
          <li><a href="https://www.pointsharp.com/schedule-meeting">Contact</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><span class="heading"><a href="https://www.pointsharp.com/support">Support</a></span></li>
          <li><a href="https://support.pointsharp.com/login">SupportSuite</a></li>
          <li><a href="https://service.pointsharp.com/">Service</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="social-icons">
          <li>
            <a href="https://twitter.com/pointsharp" class="icon">
              <svg width="50px" height="50px" viewBox="32.012 176.622 542.326 437.815"><path d="m574.34 227.46c-19.772 8.474-41.428 15.065-64.025 17.889 22.597-14.123 40.486-35.778 48.96-61.2-21.655 13.182-45.194 21.655-70.615 27.305-20.714-21.655-48.96-34.837-80.972-34.837-61.2 0-111.1 49.902-111.1 111.1 0 8.474 0.942 16.948 2.825 25.422-92.271-5.649-174.18-49.902-229.74-117.69-9.415 16.006-15.065 35.778-15.065 55.551 0 38.603 19.772 72.498 49.902 92.271-17.889-0.942-35.778-5.649-50.843-14.123v0.942c0 53.668 38.603 98.862 89.446 109.22-9.415 2.825-18.831 3.766-29.188 3.766-7.532 0-14.123-0.942-20.714-1.883 14.123 44.252 55.551 76.265 103.57 77.206-37.662 30.129-85.68 48.018-138.41 48.018-9.415 0-17.889-0.941-26.363-1.883 48.96 32.012 107.34 49.902 170.42 49.902 204.31 0 316.36-169.48 316.36-316.36v-14.123c21.656-14.125 40.487-33.897 55.551-56.494z"/></svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/pointsharp-ab/" class="icon" data-proofer-ignore>
              <svg width="50px" height="50px" viewBox="31.071 119.188 539.537 540.443"><path d="m531.97 119.19h-461.35c-21.655 0-39.545 16.948-39.545 38.603v463.24c0 21.655 17.889 38.603 39.545 38.603h460.41c21.655 0 39.545-16.948 39.545-38.603v-463.24c0.942-21.656-16.947-38.603-38.603-38.603zm-337.07 451.94h-81.914v-243.86h81.914v243.86zm-40.486-276.81c-28.246 0-46.135-18.831-46.135-42.369s17.889-42.369 46.135-42.369 45.194 17.889 45.194 42.369c0.942 23.538-16.948 42.369-45.194 42.369zm335.19 276.81h-81.914v-129.93c0-32.954-12.24-55.551-41.428-55.551-22.597 0-35.778 15.065-41.428 30.129-1.883 5.649-2.825 12.24-2.825 19.772v136.52h-81.914s0.942-221.26 0-243.86h81.914v34.837c11.298-16.948 30.129-40.486 73.44-40.486 53.668 0 94.154 34.837 94.154 110.16l1e-3 138.41zm-168.54-208.08s0.941-0.941 0 0z"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-terms">
      <a href="{{site.url}}/general/legal_disclaimer.html#_copyright">&copy; {{{year}}}, Pointsharp AB, All rights reserved worldwide.</a>|
      <a href="https://www.pointsharp.com/privacy-notice">Privacy notice</a>
    </div>
  </div>
</footer>
{{!-- 4711 Algolia --}}
{{#if env.ALGOLIA_API_KEY}}
<script src="{{uiRootPath}}/js/vendor/docsearch.min.js"></script>
{{!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js --}}
{{#if page.home}}
<script>
window.addEventListener('load', function focusSearchInput () {
  window.removeEventListener('load', focusSearchInput)
  document.querySelector('#search-input').focus()
})
</script>
{{/if}}
{{/if}}
