<div id="icondefs" hidden>
  <svg xmlns="http://www.w3.org/2000/svg">
    <desc>Octicons v17.0.0 by GitHub - https://primer.style/octicons/ - License: MIT</desc>
    <!-- comment out icon-nav-group symbol to hide the down arrow next to a group -->
    <!-- <symbol id="icon-nav-group" viewBox="0 0 16 16">
      <path d="m12.78 5.345a0.75 0.75 0 0 1 0 1.06l-4.25 4.25a0.75 0.75 0 0 1-1.06 0l-4.25-4.25a0.75 0.75 0 0 1 1.06-1.06l3.72 3.72 3.72-3.72a0.75 0.75 0 0 1 1.06 0z"/>
    </symbol> -->
    <symbol id="icon-nav-component" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.543 7.25h2.733c.144-2.074.866-3.756 1.58-4.948.12-.197.237-.381.353-.552a6.506 6.506 0 00-4.666 5.5zm2.733 1.5H1.543a6.506 6.506 0 004.666 5.5 11.13 11.13 0 01-.352-.552c-.715-1.192-1.437-2.874-1.581-4.948zm1.504 0h4.44a9.637 9.637 0 01-1.363 4.177c-.306.51-.612.919-.857 1.215a9.978 9.978 0 01-.857-1.215A9.637 9.637 0 015.78 8.75zm4.44-1.5H5.78a9.637 9.637 0 011.363-4.177c.306-.51.612-.919.857-1.215.245.296.55.705.857 1.215A9.638 9.638 0 0110.22 7.25zm1.504 1.5c-.144 2.074-.866 3.756-1.58 4.948-.12.197-.237.381-.353.552a6.506 6.506 0 004.666-5.5h-2.733zm2.733-1.5h-2.733c-.144-2.074-.866-3.756-1.58-4.948a11.738 11.738 0 00-.353-.552 6.506 6.506 0 014.666 5.5zM8 0a8 8 0 100 16A8 8 0 008 0z"/>
    </symbol>
    <symbol id="icon-nav-item-toggle" viewBox="0 0 16 16">
      <path d="m5.345 3.22a0.75 0.75 0 0 1 1.06 0l4.25 4.25a0.75 0.75 0 0 1 0 1.06l-4.25 4.25a0.75 0.75 0 0 1-1.06-1.06l3.72-3.72-3.72-3.72a0.75 0.75 0 0 1 0-1.06z" fill-rule="evenodd"/>
    </symbol>
    <symbol id="icon-nav-version" viewBox="0 0 16 16">
      <path d="m12.78 5.345a0.75 0.75 0 0 1 0 1.06l-4.25 4.25a0.75 0.75 0 0 1-1.06 0l-4.25-4.25a0.75 0.75 0 0 1 1.06-1.06l3.72 3.72 3.72-3.72a0.75 0.75 0 0 1 1.06 0z"/>
    </symbol>
  </svg>
</div>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
{{!-- Tooltip --}}
<script src="{{{uiRootPath}}}/js/vendor/popper.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/tippy.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/tippy-def.js"></script>
{{!-- Get zoomable images. --}}
<script async src="{{{uiRootPath}}}/js/vendor/medium-zoom.js"></script>
{{!-- MathJax code --}}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none",
  tex2jax: { inlineMath: [["\\(", "\\)"]], displayMath: [["\\[", "\\]"]], ignoreClass: "nostem|nolatexmath" },
  asciimath2jax: { delimiters: [["\\$", "\\$"]], ignoreClass: "nostem|noasciimath" },
  TeX: { equationNumbers: { autoNumber: "none" } }
})
MathJax.Hub.Register.StartupHook("AsciiMath Jax Ready", function () {
  MathJax.InputJax.AsciiMath.postfilterHooks.Add(function (data, node) {
    if ((node = data.script.parentNode) && (node = node.parentNode) && node.classList.contains("stemblock")) {
      data.math.root.display = "block"
    }
    return data
  })
})
</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
{{!-- Get icons for directory tree structure. --}}
{{!-- <script src="{{{uiRootPath}}}/js/vendor/material-components-web.js"></script> --}}
{{!-- Get functionality and icons for nav menu. --}}
{{!-- <script src="{{{uiRootPath}}}/js/vendor/icondefs.js"></script> --}}
{{!-- <script src="{{{siteRootPath}}}/site-navigation-data.js"></script> --}}
{{!-- <script id="navigator-script" src="{{{uiRootPath}}}/js/nav.js"></script> --}}
<script id="site-script" src="{{{uiRootPath}}}/js/site.js" data-ui-root-path="{{{uiRootPath}}}"></script>
{{!-- Script to handle copy function in code blocks. --}}
{{#if (or (eq page.attributes.copy-to-clipboard '') (eq env.ASCIIDOC_COPY_TO_CLIPBOARD 'true') )}}
<script src="{{uiRootPath}}/js/vendor/clipboard.js"></script>
{{/if}}
{{!-- Not really sure this line is needed.
<script>hljs.initHighlighting()</script>
<script>hljs.initHighlightingOnLoad();</script> --}}
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
