<main class="article">
<!--ZOOMSTOP-->
<!-- 4711 Zoom search will not index the toolbar breadcrumbs -->
{{> toolbar}}
<!--ZOOMRESTART-->
<div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> article}}
{{> toc}}
{{/if}}
</div>
</main>
