<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">{{page.component.title}}</span>
    <span class="version">{{#unless (eq page.componentVersion.displayVersion 'default')}}{{page.componentVersion.displayVersion}}{{/unless}}</span>
  </div>
  {{/if}}
  <ul class="components">
    {{#each (rearrange site.components 'name' page.attributes.component-order)}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <a class="title" href="{{{relativize ./url}}}">{{{./title}}}</a>
      {{#if (or ./versions.[1] (ne ./versions.[0].displayVersion 'default'))}}
      <ul class="versions">
        {{#each ./versions}}
        <li class="version
          {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
          {{~#if (eq this ../latest)}} is-latest{{/if}}">
          <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
