<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
    {{!--{{> search}} --}}
    {{> nav-menu}}
    {{!-- Removed repo/product selector in left menu 
    because of showing all at the same time 
    so not necessary anymore --}}
    {{> nav-explore}}
    </div>
  </aside>
</div>
