<div class="searchbox">
  <form method="GET" action="{{site.url}}/general/search.html">
    <input name="zoom_query" id="zoom_searchbox" type="text" class="zoom_searchbox" size="10" placeholder="Type search query and press Enter">
  </form>
</div>
