{{!-- 4711 Lunr search? --}}
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field has-filter">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          <label class="filter checkbox">
            <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> In this project
          </label>
        </div>
      </div>
      {{/if}}
      