<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
{{> breadcrumbs}}
{{> page-versions}}
{{!-- 4711 Add Lunr search box on every page --}}
{{> search-lunr}}
{{!-- Add ZOOM search box on every page --}}
{{!-- {{> search}} --}}
{{> edit-this-page}}
</div>
