:root {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #9c9c9c;
  --color-gray-40: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-yellow: #ffd300;
  --color-red: #c40233;
  --color-jet-80: #191919;
  --almost-black: #1d1f2a;
  --almost-white: #f5f7f8;
  /* --color-jet-80: #348899; */
  --color-brand-secmaker: #348899;
  --color-pointsharp-gray: #dce1e9;
  --color-pointsharp-blue: #0047bb;
  --color-pointsharp-background: #f3f7f7;
  --color-brand-primary: #262626;
  --color-black: #000;
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Roboto", sans-serif;
  /* --body-font-family: "Gotham", sans-serif; */
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--color-white);
  /* --panel-background: var(--color-smoke-30); */
  --panel-background: var(--color-pointsharp-background);
  --scrollbar-track-color: var(--color-smoke-30);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-thumb-color: var(--color-gray-10);
  --scrollbar_hover-thumb-color: var(--color-gray-30);
  /* navbar */
  /* --navbar-background: var(--color-jet-80); */
  --navbar-background: var(--almost-black);
  --navbar-font-color: var(--color-white);
  /* --navbar_hover-background: var(--color-black); */
  --navbar_hover-background: #296c7a;
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  /* --navbar-menu-font-color: var(--body-font-color); */
  --navbar-menu-font-color: var(--color-white);
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  /* 4711 Changed toolbar background from grey to white (--panel-background) */
  --toolbar-background: var(--panel-background);
  /* --toolbar-background: var(--color-white); */
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-40);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-40);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* admonitions */
  --caution-color: #a0439c;
  --caution-on-color: var(--color-white);
  --important-color: #d32f2f;
  --important-on-color: var(--color-white);
  --note-color: #217ee7;
  --note-on-color: var(--color-white);
  --tip-color: #41af46;
  --tip-on-color: var(--color-white);
  --warning-color: #e18114;
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  /* --heading-font-color: var(--color-jet-80); */
  --heading-font-color: var(--almost-black);
  /* --heading-font-color: var(--color-black); */
  /* 4711 Changed font weight to bold (700) */
  /* --heading-font-weight: normal; */
  --heading-font-weight: 700;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  /* --link-font-color: #1565c0; */
  --link-font-color: #0047bb;
  --link_hover-font-color: #104d92;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --terminal-code-background: var(--almost-black);
  --terminal-font-color: var(--almost-white);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--color-smoke-90);
  /* --table-border-color: var(--panel-border-color); */
  --table-border-color: #7d868c;
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  /* Change grey footer background color to SecMaker greenblue */
  /* --footer-background: var(--color-smoke-90); */
  /* --footer-background: var(--color-jet-80); */
  --footer-background: var(--almost-black);
  /* 4711 Changed grey footer text color to white */
  /* --footer-font-color: var(--color-gray-70); */
  --footer-font-color: var(--color-white);
  /* --footer-link-font-color: var(--color-jet-80); */
  --footer-link-font-color: var(--almost-black);
  /* dimensions and positioning */
  /* --navbar-height: calc(63 / var(--rem-base) * 1rem); */
  --navbar-height: calc(75 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  /* mulesoft width */
  /* --nav-width: 275px; */
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  /* Width of text field on web page */
  /* --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem); */
  --doc-max-width--desktop: calc(1026 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
  /* 4711 Added from Couchbase */
  --z-index-footer: 2;
  /* New colors from Couchbase... */
  --color-brand-silver: #c1c1c1;
  --color-border: var(--color-brand-silver);
  --color-brand-white: #fff;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
  --color-brand-gray7: #f9f9f9;
  --color-brand-gray8: #e5e5e5;
  /* Spacing variables */
  --base-space: 1rem; /* ~ 16px */
  --base-small-space: 0.75rem; /* ~ 12px */
  --base-extra-small-space: 0.5rem; /* ~ 8px */
  --base-medium-space: 1.5rem; /* ~ 24px */
  --base-large-space: 2rem; /* ~ 32px */
  --base-extra-large-space: 2.5rem; /* ~ 40px */
  /* treeview */
  --folder-icon-height: 18px;
  --folder-icon-width: 18px;
  --color-brand-primary-dark: #000;
  /* Banner for old/new doc versions */
  --heading-h3: 1.5rem; /* ~24px */
  /* Nya menyvariabler */
  --mdc-theme-secondary: #25bbbf;
  /* CARDS */
  --border-radius: 0.3rem;
  --color-card-border: #ebf2f2;
  --color-net-id: #99b5e4;
  --color-card-shadow: #2e2e2e;
  --color-text-light: #556;
  /* Color brand tabsets */
  --color-active-tabset: var(--color-pointsharp-blue);
  --color-brand-blue-secondary: #99b5e4;
  /* Mulesoft nav menu */
  --tertiary: #fff;
  --aluminum-1: #f9fafb;
  --aluminum-2: #f4f5f6;
  --aluminum-3: #e8e9ea;
  --aluminum-4: #cacbcc;
  --aluminum-5: #989a9b;
  --steel-1: #6b6c6d;
  --steel-2: #58595a;
  --steel-3: #3a3b3c;
  --steel-4: #262728;
  --steel-5: #121314;
  --transition-speed-sm: 0.15s;
  --transition-speed-md: 0.3s;
  --transition-timing: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  --z-nav-mobile: 15;
  --z-nav: 11;
  --md: 15px;
  --lg: 20px;
  --sm: 10px;
  --xs: 5px;
  --xl: 40px;
  --core-blue-0: #f2fafd;
  --core-blue-1: #abe2f5;
  --core-blue-2: #48c1ed;
  --core-blue-3: #00a2df;
  --core-blue-4: #087299;
  --core-blue-5: #114459;
  --header-height: 93px;
}
