<!DOCTYPE html>
<html lang="{{#if env.ANTORA_LANGUAGE}}{{env.ANTORA_LANGUAGE}}{{else}}en-us{{/if}}">
{{!-- <html lang="en"> --}}
  <head>
{{> head defaultPageTitle='Page not found'}}
  </head>
  <body class="status-404">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
