<!DOCTYPE html>
<html lang="{{#if env.ANTORA_LANGUAGE}}{{env.ANTORA_LANGUAGE}}{{else}}en{{/if}}">
{{!-- <html lang="en"> --}}
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>